@font-face {
    font-family: 'Malgun Gothic';
    src: url('MalgunGothicRegular.woff2') format('woff2'),
    url('MalgunGothicRegular.woff') format('woff'),
    url('MalgunGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
